.container {
    border: 3px solid rebeccapurple;
    padding: 3px;
}
.row {
  border: 1px solid #7451EB;
  padding: 3px;
}
[class="col"] {
  padding: 1rem;
  border: 2px solid #3FA5DB;
}
.navbar {
    border: 1px solid green;
  padding: 3px;
}
.card-img{
    opacity: 0.3;
}
.card-img-top{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}
#centered-box{
    justify-content: center;
    display: inline-flex;
}

@media (max-width: 575.98px) {
    h2.card-title{
        font-size: medium;
    }
    h3.card-text{
        font-size: small;
    }
    .card-img-top{
    width: 12rem;
    height: 12rem;
}
