.container {
    border: 3px solid rebeccapurple;
    padding: 3px;
}
.row {
  border: 1px solid #7451EB;
  padding: 3px;
}
[class="col"] {
  padding: 1rem;
  border: 2px solid #3FA5DB;
}
.navbar {
    border: 1px solid green;
  padding: 3px;
}
.card-deck{
    margin: 3px;
    border-style: inset;
}
.card-img{
    opacity: 0.3;
}
#centered-box{
    text-align: center;
}
.card-img-top{
    text-align: center;
    position: relative;

}
.nutrition-circle {
    width: 39.6px;
    height: 39.6px;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
    border: 2px solid #3498db;
    color:white;
    background:#3498db;
    position: relative;

}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1999.98px) { 
    .img-in-card{
        width: 12rem;
        height: 12rem;

    }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    h2.card-title{
        font-size: medium;
    }
    h3.card-text{
        font-size: small
    }
    h4.card-text{
        font-size: x-small
    }
    h2.search_results{
        font-size: medium;
    }
    p#announce_results{
        font-size: small;
    }
    .img-in-card{
        width: 8rem;
        height: 8rem;
    }

}

/*Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    h2.card-title{
        font-size: medium;
    }
    h3.card-text{
        font-size: small;
    }
    h4.card-text{
        font-size: x-small
    }
    h2.search_results{
        font-size: medium;
    }
    p#announce_results{
        font-size: small;
    }
    .img-in-card{
        width: 8rem;
        height: 8rem;
    }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h2.card-title{
        font-size: medium;
    }
    h3.card-text{
        font-size: small;
    }
    h4.card-text{
        font-size: x-small
    }
    .img-in-card{
    width: 6rem;
    height: 6rem;
    }
    h2.search_results{
        font-size: medium;
    }
    p#announce_results{
        font-size: small;
    }
    }
}