{% extends '../customer/base.html'%}
{% block title %} Vos Favoris {% endblock %}

{% block content %}

<h3>Voici vos Favoris : </h3>
<ul id = "favorites_list">
    {% for favorite in favorites %}
    <div class="card" style="width: 18rem;">
        <a href="{% url 'food_items:product_details' favorite.code %}" id="{{favorite.code}}">
            <img class="card-img-top" src='{{ favorite.image_url }}'
                id="{{favorite.code}}" alt="Image Produit">
        </a>
        <div class="card-body">
            <h5>{{ favorite.name }}, 
            Nutriscore: {{ favorite.nutrition_score }}
        </div>
    </div>
    {% empty %}
    <li><h2 id="error_message">Désolé, nous n'avons pas de résultat correspondant</h2></li>
    {% endfor %}
{% endblock %}