{% extends '../customer/base.html'%}

{% block content %}

Page pour detailed_product : 
{{ product_details }}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="#" alt="Card Image Cap">
    <div class="card-body">
        <h5 class="card-title" id="product_name">{{ product_details.name }}</h5>
        <ul class="list-group">
            <li class="list-group-item">{{ product_details.brand }}</li>
            <li class="list-group-item">{{ stores }}</li>
            <li class="list-group-item">{{ product_details.nutrition_score }}</li>
        </ul> 
    </div>
    <form action="{% url 'food_items:search_results' %}">
        <input type="submit" value="Fermer">
    </form>
    
</div>


{% endblock %}